<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title"><%=translation.Menu%></li>

                <li>
                    <a href="/superadmin" class="waves-effect">
                        <i class="ri-dashboard-line"></i><span class="badge rounded-pill bg-success float-end">3</span>
                        <span><%=translation.Dashboard%></span>
                    </a>
                </li>
                
                <li>
                    <a href="apps-chat" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li>
                    <a href="all-user" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Users</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Listings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="all-listing">All</a></li>
                        <li><a href="pending-listing" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="new-listing" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="reject-listing" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>




                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Buisness Users</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="business-all-user">All</a></li>
                        <li><a href="business-pending-user" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="business-new-user" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="business-reject-user" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Categories</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="categories-all">All</a></li>
                        <li><a href="categories-pending" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="categories-new" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="categories-reject" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Countries</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="countries-all">All</a></li>
                        <li><a href="countries-pending" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="countries-new" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="countries-reject" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>

                <li>
                    <a href="ribbons-all" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Ribbons</span>
                    </a>
                </li>

                <li>
                    <li>
                        <a href="blogcategory-all" class=" waves-effect">
                            <i class="ri-chat-1-line"></i>
                            <span>Blog Categories</span>
                        </a>
                    </li>
                </li>

                <li>
                    <a href="blog-all" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Blogs</span>
                    </a>
                </li>

                <li>
                    <a href="reviews" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Reviews</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Payments</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products">All</a></li>
                        <li><a href="ecommerce-product-detail" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(136, 255, 174);">Success</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(255, 132, 132);">Declined</a></li>
                    </ul>
                </li>

                
                <li>
                    <a href="apps-chat" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span><%=translation.Chat%></span>
                    </a>
                </li>
                
                <li>
                    <a href="apps-chat" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Plans</span>
                    </a>
                </li>




            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->