<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>404 Error | Nazox - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="public/assets/images/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <%- include ('../Partials/HeaderStyle') %>


    </head>

    <body>

        

        <center><h1>This is home page</h1></center>


        <center>             
            
        <% if (isLogged) { %>
            <a href="/logout"><button class="btn btn-danger">Logout</button></a>
            <a href="/dashboard"><button class="btn btn-danger">Profile</button></a>
        <% } %>

        
        <% if (!isLogged) { %>
            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Login</button>
            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModal">Register</button>
        <% } %>

        
        </center>



        
        <div class="col-sm-6 col-md-4 col-xl-3">
            <!-- sample modal content -->
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="myModalLabel">Register Yourself</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="custom-validation" method="post" action="post-register" id="register-form">

                                <div class="mb-3">
                                    <label>Full Name</label>
                                    <input type="text" class="form-control" name="regname" required placeholder="Enter Your Full Name"/>
                                </div>

                                <div class="row mb-3">
                                    <div class="mb-3">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="regemail" required placeholder="someone@gmail.com"/>
                                    </div>
                                </div>
            
                                <div class="mb-3">
                                    <label>Equal To</label>
                                    <div>
                                        <input type="password" name="regpassword" id="pass2" class="form-control" required
                                                placeholder="Password"/>
                                    </div>
                                    <div class="mt-2">
                                        <input type="password" class="form-control" required
                                                data-parsley-equalto="#pass2"
                                                placeholder="Re-Type Password"/>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Register</button>
                                </div>

                            </form>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>



<% if (isLogged) { %>
<h1>Welcome <%= users.name %></h1>
<% } %>

        
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0">Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/post-login" class="custom-validation" method="post" id="login-form" >
                                <div class="row mb-3">
                                    <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="email" name="email" required placeholder="bootstrap@example.com" id="example-email-input">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="example-password-input" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="password" name="password" required value="hunter2" id="example-password-input">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Login</button>
                                </div>
                            </form>
                        </div>


                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>

<script>

$('form').submit(function(event) {
  event.preventDefault();
  var formData = $(this).serializeArray();
  var jsonData = {};
  formData.forEach(function(item) {
    jsonData[item.name] = item.value;
  });
  $.ajax({
    url: $(this).attr('action'),
    method: $(this).attr('method'),
    data: JSON.stringify(jsonData),
    contentType: 'application/json',
    success: function(response) {
      if(response.status)  location.reload()
      else erroralert(response.msg)
    },
    error: function(xhr, status, error) {
      console.error(error);
    }
  });
});
</script>

        <%- include ('../Partials/VendorScript') %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script src="public/assets/js/app.js"></script>
        <script src="public/assets/js/alert.js"></script>
        <script src="public/assets/libs/parsleyjs/parsley.min.js"></script>
        <script src="public/assets/js/pages/form-validation.init.js"></script>
    </body>
</html>
