<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title"><%=translation.Menu%></li>

                <li>
                    <a href="/superadmin" class="waves-effect">
                        <i class="ri-dashboard-line"></i><span class="badge rounded-pill bg-success float-end">3</span>
                        <span><%=translation.Dashboard%></span>
                    </a>
                </li>
                
                <li>
                    <a href="apps-chat" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Listings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products">All</a></li>
                        <li><a href="ecommerce-product-detail" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Users</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products">All</a></li>
                        <li><a href="ecommerce-product-detail" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Categories</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products">All</a></li>
                        <li><a href="ecommerce-product-detail" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Countries</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products">All</a></li>
                        <li><a href="ecommerce-product-detail" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Ribbon Tags</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products">All</a></li>
                        <li><a href="ecommerce-product-detail" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Blog Categories</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products">All</a></li>
                        <li><a href="ecommerce-product-detail" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(136, 255, 174);">New Request</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(255, 132, 132);">Rejected</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Payments</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ecommerce-products">All</a></li>
                        <li><a href="ecommerce-product-detail" style="color: rgb(255, 228, 138);">Pending</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(136, 255, 174);">Success</a></li>
                        <li><a href="ecommerce-orders" style="color: rgb(255, 132, 132);">Declined</a></li>
                    </ul>
                </li>

                
                <li>
                    <a href="apps-chat" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span><%=translation.Chat%></span>
                    </a>
                </li>
                
                <li>
                    <a href="apps-chat" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Plans</span>
                    </a>
                </li>

                <li>
                    <a href="apps-chat" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Blogs</span>
                    </a>
                </li>

                <li>
                    <a href="apps-chat" class=" waves-effect">
                        <i class="ri-chat-1-line"></i>
                        <span>Subadmin Reviews</span>
                    </a>
                </li>


            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->